.contacto{
  padding: 6%;
  background-color: #e2e2e2;
}
.contact-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.item-contact-mail{
  padding: 2%;
}
.item-contact-mail img{
  width: 90px;
  padding: 5px;
  padding-left: 0px;
  text-align: center;
}
.item-contact-tw img{
  max-width: 100px;
  padding-left: 5px;
}
.item-contact-ig img{
  max-width: 100px;
}
