header{
  min-width: 100%;
  height: 6rem;
  padding: 1.2rem 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  background-color: $principal-color;
}
.logo-container {
  display: flex;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 5rem;
  align-items: center;
  justify-content: center;
  @include neo-out-min;
  &:hover {
    @include neo-in-min;
  }
  & a{
   text-decoration: none;
   font-family: 'Rubik', sans-serif;
   font-weight: 600;
   color: $color;
   font-size: 2.2rem;
 }
}

.nav-bar ul{
  min-width: 18rem;
  margin-right: -2rem;
  display: flex;
  justify-content: space-between;
  & li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    :hover{
      @include neo-in-min;
    }
    & a{
      @include boton;
      @include neo-out-min;
    }
  }
}

.button__contact {
  font-weight: 500;
}