.hero{
  min-width: 32rem;
  max-width: 70rem;
  margin: 0 auto;
  width: 100%;
  color: $lightgrey;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.Profile__container_image {
  min-width: 15rem;
  min-height: 15rem;
  max-width: 18rem;
  margin: 1.2rem auto 0 auto;
  border-radius: 15rem;
  filter: opacity(0.6);
}

.hero-content {
  width: 90%;
  margin-top: 1rem;
  border-radius: 1rem;
  text-align: left;
  padding: 1rem 1.2rem;
  @include neo-in;
  p{
    font-size: 1.6rem;
    font-weight: 300;
  }
  a{
    text-decoration: none;
    color: $lightgrey;
    font-weight: 600;
    :hover{  
      text-decoration: underline;
    }
  }
}