.skills{
  width: 90%;
  margin: 0 auto;
  min-width: 30rem;
  text-align: left;
  height: auto;
  h3 {
    @include  titles;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}

.skills__container{
  min-width: 15rem;
  max-width: 32rem;
  min-height: 5rem;
  margin: 1rem auto;
  display: grid;
  grid-template: auto / repeat(2, 1fr);
  & div {
    max-width: 100%;
  }
}

.skill__item {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  padding-left: 3rem;
  display: flex;
  justify-content: left;
  font-size: map-get($map: $fs, $key: x-small);
}
