.skills{
  width: 90%;
  margin: 0 auto;
  min-width: 30rem;
  text-align: left;
  height: auto;
  h3 {
    @include  titles;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}

.skills__container{
  justify-content: center;
  & div {
    max-width: 100%;
  }
}

.skill__item {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  padding-left: 3rem;
  display: flex;
  justify-content: left;
  font-size: map-get($map: $fs, $key: x-small);
  p {
    height: 2.5rem;
    display: flex;
    align-content: center;
  }
  &__row {
    width: 2.2rem;
    height: 2.2rem;
    margin: 0 0.2rem 0 0;
    filter: opacity(0.85);
  }
}
