* {
  margin: 0%;
  padding: 0%;
  font-family: 'Heebo', sans-serif;
}
html{
  font-size: 62.5%;
}

// ------ var colors 
$blue: #0e0e63cf;
$gray-blue: #26264e;
$blue-section: 0px 2px 4px 0px #262683c4;
$gray-section: 0px 5px 6px 0px #c1c1c1;

