* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
html{
  font-size: 62.5%;
}

// ------ var colors 
$cta-color: #1f61b8;
$principal-color: #14274e;
$secondary-color: #394867;
$gray-color: #9ba4b4;

// ---------- grises
$darckgrey : #4d4d4d;
$grey : #737373;
$lightgrey: #bfbfbf;


// ------------sombras 
$black-shadow: rgba(12, 12, 12, 0.4);
$white-shadow: rgba(230, 230, 230, 0.4);