/* Estilos Globales */
* {
  font-family: sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}
  

body {
  background-color: #1f1f1f;
  color: #fff;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
}

p, li, a{
  font-size: 1.6rem;
}

/* Header */


header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  padding: 7% 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #1f1f1f;
  box-shadow: 0px 0.2rem 0.4rem rgba(255, 255, 255, 0.3);
  z-index: 3;
}


header .logo {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 60%;
  overflow: hidden;
}

.logo img {
  width: 4rem;
  height: 4rem;
}

.logo a {
  display: flex;
  height: auto;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav ul {
  display: flex;
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: justify;
}

header nav li {
  display: inline-block;
  margin: 0;
}

header nav a {
  display: block;
  color: #fff;
  padding: 0px 1.5rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

/* Estilos de sectiones */

#gap {
  width: 100%;
  height: 7.5rem;
}

main {
  width: 100%;
  height: auto;
  /* padding: 0 15%; */
  /* agregar padding al main a partior de tablet  */
  display: grid;
  place-content: center;
  gap: 4rem;
  justify-content: center;
}

section {
  width: 100%;
  height: auto;
  position: relative;
}

.hero, .contact {
  margin-bottom: 2%;
}

/* Hero --- */

.hero {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px 5%;
  justify-content: center;
}

.hero picture {
  justify-items: center;
overflow-x: hidden;
overflow-y: hidden;
}

.hero picture, 
.hero picture img {
  width: 28rem;
  border-radius: 50%;
}

.hero h1 {
  margin: 2.5rem auto;
}

.hero_Content {
  max-width: 40rem;
}

/* --- Hero  */


/* Cards --- */ 

.project_Skills {
  padding: 0 5%;
}

.project_Skills h2 {
  margin-bottom: 5rem;
}

.cards-container {
  display: grid;
  margin-bottom: 5%;
  gap: 2rem;
  grid-template-columns: 1fr;
}

.card {
  position: relative;
  width: 30rem;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.2rem 0.5rem rgba(255, 255, 255, 0.4);
  overflow: hidden;
}

.card figure {
  height: 7.5rem;
  overflow: hidden;
  transition: all 0.4s ease-in;
}

.card figure:hover{
  height: 15rem;
}

.card-imagen {
  width: 100%;
  display: block;
}

.fog {
  position: absolute;
  top: 0;
  left: 0;
  width: 30rem;
  height: 7.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  transition: all 0.4s ease-in;
}
.fog:hover {
  height: 15rem;
  background-color: rgba(0, 0, 0, 0);
}


.card-contenido {
  padding: 1.2rem;  
  text-align: left;
  background-color: #1f1f1f;
  z-index: 1;
}

.project_Skills .card-titulo {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.card-descripcion {
  margin: 1rem 0;
}

.card-botones {
  display: flex;
  justify-content: space-between;
  font-size: 2rem
  ;
}

.card-boton {
  width: 49%;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #f0f0f0;
  cursor: pointer;
}


/*Skills section*/
.list_h2 {
  margin: 4rem 0 2.5rem 0;
}

.list_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list_grid {
  min-width: 28rem;
  display: grid;
  grid-template-columns: 1fr;
}

ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;
  text-align: center;
}

/* contact section --- */

.contact {
  padding: 0% 5%;
  margin: 0 auto 3rem;
}

.icons_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 3rem;
  justify-content: space-evenly;
}

.contact picture {
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
}

.contact picture:hover{
  box-shadow: 0px 0px 2rem 0.5rem rgba(255, 255, 255, 0.8);
}

.contact img, .contact a {
  width: 100%;
  height: 7rem;
  overflow: hidden;
}

/* --- contact section */


/* Media queries para dispositivos desktop */
@media screen and (min-width: 767px) {
  .active {
    display: block;
  }

  header {
    padding: 0 5%;
  }

  /* Hero --- */
  
  .hero {
    align-items: center;
    /* align-content: center; */
  }

  .hero_Content {
    padding: 0 3%;
  }

  .hero_Content h1 {
    margin-top: 0;
  }

  .hero {
    padding: 0;
  }

  /* --- Hero  */

  /* Cards --- */

  .project_Skills .cards-container {
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
  
  /* --- Cards  */

  .list_container {
    width: 60rem;
    margin: 0 auto;
  }

  .list_grid {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    /* justify-content: space-between; */
    gap: 20%;
  }

  .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }

}

  .icons_container{
    position: relative;
  }

  .telefone {
    display: flex;
    width: 40%;
    height: 4rem;
    border-radius: 0.8rem;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 4.5rem;
    background-color: rgba(0, 0, 0, 1);
    box-shadow: -0.2rem 0 0.5rem 0.3rem rgba(187, 187, 187, 0.6);
  }
  
  .punta  {
    position: relative;
  }
  
  .punta div {
    position: absolute;
    top: -1rem;
    right: -5.2rem;
    width: 1.6rem;
    height: 1.6rem;
    transform: rotate(45deg);
    background-color: rgba(0, 0, 0, 1);
    box-shadow: 0.4rem -0.4rem 0.5rem 0.3rem rgba(187, 187, 187, 0.6);
    z-index: -1;
  }

@media screen and (min-width: 1024px) {
  header {
    padding: 0 8%;
  }

  main {
    grid-template-columns: 115rem;
  }

}