/* Estilos Globales */
* {
  font-family: sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
  

body {
  background-color: #1f1f1f;
  color: #fff;
}

/* Header */


header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  padding: 7% 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #1f1f1f;
  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.3);
  z-index: 3;
}


header .logo {
  display: block;
  width: 40px;
  height: 40px;
  /* align-items: center; */
  /* justify-content: center; */
  border-radius: 60%;
  overflow: hidden;
}

.logo img {
  width: 40px;
  height: 40px;
}

.logo a {
  display: flex;
  height: auto;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav ul {
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: justify;
}

header nav li {
  display: inline-block;
  margin: 0;
}

header nav a {
  display: block;
  color: #fff;
  padding: 0px 15px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

/* Estilos de sectiones */

#gap {
  width: 100%;
  height: 75px;
}

main {
  width: 100%;
  height: auto;
  /* padding: 0 15%; */
  /* agregar padding al main a partior de tablet  */
  display: grid;
  place-content: center;
  gap: 50px;
  justify-content: center;
}

section {
  width: 100%;
  height: auto;
  position: relative;
}

.hero, .contact {
  margin-bottom: 2%;
}

/* Hero --- */

.hero {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px 5%;
  justify-content: center;
}

.hero picture {
  justify-items: center;
overflow-x: hidden;
overflow-y: hidden;
}

.hero picture, 
.hero picture img {
  width: 280px;
  border-radius: 50%;
}

.hero h1 {
  margin: 25px auto;
}

.hero_Content {
  max-width: 400px;
}

/* --- Hero  */


/* Cards --- */ 

.project_Skills {
  padding: 0 5%;
}

.project_Skills h2 {
  margin-bottom: 25px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-bottom: 5%;
}

.card {
  position: relative;
  width: 300px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 1px 2px 5px rgba(255, 255, 255, 0.4);
  overflow: hidden;
}

.card figure {
  height: 75px;
  overflow: hidden;
  transition: all 0.4s ease-in;
}

.card figure:hover{
  height: 150px;
}

.card-imagen {
  width: 100%;
  display: block;
}

.fog {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 75px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  transition: all 0.4s ease-in;
}
.fog:hover {
  height: 150px;
  background-color: rgba(0, 0, 0, 0);
}


.card-contenido {
  padding: 12px;  
  text-align: left;
  background-color: #1f1f1f;
  z-index: 1;
}

.project_Skills .card-titulo {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-descripcion {
  margin: 10px 0;
}

.card-botones {
  display: flex;
  justify-content: space-between;
}

.card-boton {
  width: 49%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
}


/*Skills section*/
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul {
  display: contents;
  list-style: disc;
  margin: 0;
  padding: 0;
}

li {
  width: 45%;
  margin-bottom: 10px;
  text-align: justify;
  text-justify: inter-word;
}



/* Media queries para dispositivos desktop */
@media screen and (min-width: 767px) {
  header {
    padding: 0 5%;
  }

  .hero {
    padding: 0;
  }
  
  /* main {
    grid-template-columns: 600px;
  } */

  .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 0 8%;
  }

  main {
    grid-template-columns: 1150px ;
  }
}