* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
  --my-purple: #9f00ff;
  --smooth-black: #0a0a10;
}
body a, body p, span, section{
  font-size: 1.6rem;
}
header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 4rem;
  align-items: center;
  justify-content: center;
  background-color: #0a0a1099;
  backdrop-filter: blur(2px);
}
header nav, nav ul {
  display: flex;
  align-items: center;
}
nav {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
  a {
    display: flex;
    text-align: center;
    text-decoration: none;
    color: #fff;
  }
}
header .header_logo {
  display: flex;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
  transition: box-shadow 300ms ease-in-out;
  img {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
  }
}
.header_logo:hover {
  box-shadow: 0 0 2px 2px #9f00ff;
}
.header_link {
  width: 7.2rem;
  height: 40px;
  padding-top: 3px;
  margin-left: 2px;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  transition-property: box-shadow, background-color;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
}
.header_link__active {
  transition: all 300ms;
  padding-top: 3px;
  border-bottom: 3px solid #9f00ff ;
}
.header_link:hover {
  box-shadow: 
  -2px 0px 2px 0px #9f00ff, 2px 0px 2px 0px #9f00ff
  ;
  background-color: #9f00ff;
  transition-duration: 350ms;
}
body .section_active {
  display: flex;
  width: 100%;
  height: 40rem;
  color: azure;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.home_section, .projects_section, .about_section {
  display: none;
}
/* header  */

.modal {
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0%;
  top: 0%;
  bottom: 0%;
  align-content: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.4rem);
  z-index: 1;
}
.modal div:nth-child(1) {
  display: flex;
  flex-wrap: wrap;
  width: 32rem;
  font-size: 1.6rem;
  height: fit-content;
  position: relative;
  padding: 15px;
  justify-content: center;
  text-wrap: balance;
  line-height: normal;
  background-color: #1f1f1f;
  border-radius: 4px;
  box-shadow: 0 0 1rem 2px rgb(235, 101, 6);
}
.close_modal {
  display: flex;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  top: 15px;
  font-weight: 600;
  color: #1f1f1f;
  background-color: #b8b5b5;
  justify-content: center;
  align-items: center;
}
.modal p {
  margin-bottom: 1rem;
}
.close_modal:hover{
  cursor: pointer;
  background-color: #d1d1d1;
}
.buttons {
  display: flex;
  flex-wrap: nowrap;
  width: 14rem;
  align-items: center;
  justify-content: space-between;
  position: relative;
  right: -7.7rem;
  a {
    display: flex;
    height: 4rem;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    /* background-color: #F7931A; */
  }
  
}
.beta {
  border: none;
  color: #F7931A;
  opacity: 0.6;
}
.beta:hover {
  opacity: 1;
}
.figma {
  height: 4rem;
  /* border: 1px solid #F7931A; */
  border-radius: 0.5rem;
  border: 1px solid #F7931A;
  img {
    display: flex;
    height: 2rem;
  }
}
.figma:hover {
  background-color: #f7941a6b;
}
footer {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
}
footer a {
  color: #a4a4a4;
  text-decoration: none;
}
footer a:hover {
  color: white;
}