* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  --my-purple: #9f00ff;
  --smooth-black: #0a0a10;
  --my-orange: #de7021;
  --big-title-mobile: 18px;
  --tiny-title-mobile: 16px;
  --normal-text-mobile: 14px;
  --tiny-text-mobile: 12px;
  --xs-text-mobile: 10px;
  --my-radius: 5px;
}
body a, body p, span, section{
  text-decoration: none;
  font-size: var(--normal-text-mobile);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* header --- */
header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 4rem;
  align-items: center;
  justify-content: center;
  background-color: #0a0a10bb;
  backdrop-filter: blur(3px);
}
header nav, nav ul {
  display: flex;
  align-items: center;
}
nav {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
  a {
    display: flex;
    text-align: center;
    text-decoration: none;
    color: #fff;
  }
}
header .header_logo {
  display: flex;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
  transition: box-shadow 300ms ease-in-out;
  img {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
  }
}
.header_logo:hover {
  box-shadow: 0 0 2px 2px #9f00ff;
}
.header_link {
  width: 7.2rem;
  height: 40px;
  padding-top: 3px;
  margin-left: 2px;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  transition-property: box-shadow, background-color;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
}
.header_link__active {
  transition: all 300ms;
  padding-top: 3px;
  border-bottom: 3px solid #9f00ff ;
}
.header_link:hover {
  box-shadow: 
  -2px 0px 2px 0px #9f00ff, 2px 0px 2px 0px #9f00ff
  ;
  background-color: #9f00ff;
  transition-duration: 350ms;
}
body .section_active {
  display: flex;
  flex-wrap: wrap;
  color: azure;
  width: 100%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  background-color: var(--smooth-black);
}
.home_section, .projects_section, .about_section {
  display: none;
}
/* --- header */
/* home --- */
.home_section {
  background-size: cover;
  background-repeat: no-repeat;
}
.home_section section {
  display: inline-block;
  width: 90%;
  padding-bottom: 2rem;
}
.title {
  margin: 10px auto;
  margin-left: 0;
  color: var(--my-purple);
  font-size: var(--big-title-mobile);
  font-weight: 500;
}
.subtitle {
  height: fit-content;
  margin: 5px auto 0;
  margin-top: 0;
  margin-left: 0;
  color: var(--my-purple);
  font-size: var(--tiny-title-mobile);
  font-weight: 400;
}
.title_section {
  margin: 20px auto;
  text-align: center;
  color: var(--my-purple);
  font-weight: 500;
  font-size: large;
}
/* hero --- */ 
.hero {
  display: block;
  width: 100%;
  padding: 100px 0 60px;
  margin: 0 auto;
  text-align: center;
  background: radial-gradient(circle at top, rgb(100, 100, 100) -80%, #0a0a10 70%);
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0 auto;
  }
}
.hero h1:nth-child(1) {
  font-size: 28px;
  color: var(--my-orange);
}
.hero h1:nth-child(2) {
  font-size: 24px;
}
.send_email {
  display: flex;
  width: 25rem;
  height: 22px;
  margin: 10px auto;
  justify-content: space-between;
  align-items: center;
  p {
    padding: 4px 8px;
    font-weight: 200;
    height: 100%;
    border-radius: var(--my-radius);
    background-color: rgba(100, 100, 100, 0.4);
    font-size: var(--tiny-text-mobile);
  }
  a {
    display: flex;
    width: 30px;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: var(--my-radius);
    background-color: var(--my-purple);
    transition: box-shadow 250ms ease-in-out;
    &:hover {
      box-shadow: 0 0 3px 3px #9f00ff99;
      transition: box-shadow 300ms ease-in-out;
    }
    img {
      width: 15px;
    }
  }
}
.contact_info {
  display: flex;
  width: 15rem;
  height: 22px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    margin: 0;
    border-radius: var(--my-radius);
    color: white;
    background-color: #9f00ff66;
    transition: box-shadow, background-color 250ms ease;
    &:hover {
      background-color: var(--my-purple);
      box-shadow: 0 0 3px 3px #9f00ff99;
      transition: box-shadow, background-color, 300ms ease-in-out;
    }
    img {
      width: 15px;
      height: 15px;
    }
  }
}
/* --- hero */ 
/* cards --- */ 
.cards_container, .skills_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px auto;
  justify-content: center;
  gap: 30px;
}
.card {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  max-width: 380px;
  min-width: 280px;
  max-height: 280px;
  min-height: 200px;
  border-radius: var(--my-radius);
  overflow: hidden;
  text-align: left;
  p {
    font-size: var(--normal-text-mobile);
    font-weight: 200;
    
  }
}
.project_img {
  display: flex;
  width: 35%;
  height: 100%;
  justify-content: center;
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}
.card_content {
  display: flex;
  row-gap: 0px;
  flex-wrap: wrap;
  width: 65%;
  height: 100%;
  padding-right: 8px;
  text-wrap: pretty;
}
.tag {
  display: flex;
  min-width: 65px;
  height: 20px;
  margin: 4px 4px 6px 4px;
  padding: 1px 8px;
  font-weight: 200;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  border-radius: 12px;
  border: 1px solid #fff;
  font-size: var(--xs-text-mobile);
  font-weight: 200;
  box-shadow: inset 0 0 4px 0px whitesmoke, 0 0 4px 0px whitesmoke;
}
.card_content__links {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  a {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: background-color, box-shadow 200ms ease-in-out;
    img {
      width: 20px;
      height: 20px;
    }
  }
  ul p {
    color: var(--my-purple);
    font-weight: 400;
  }
  ul:nth-child(1) {
    display: flex;
    width: 70px;
    height: auto;
    padding-left: 3px;
    padding-bottom: 3px;
    justify-content: space-between;
  }
  ul:nth-child(2) p {
    text-align: right;
  }
}
.card_content__links a:hover {
  box-shadow: 0 0 2px 1px var(--my-purple);
  background-color: #9f00ff33;
}
/* cards --- */
/* skills --- */
.skills_container {
  max-width: 500px;
  justify-content: safe;
  gap: 35px;
}
.skill {
  display: flex;
  flex-wrap: wrap;
  width: 60px;
  height: 60px;
  padding: 5px;
  margin: 0;
  justify-content: center;
  align-items: center;
  border-radius: var(--my-radius);
  background-color: #de702155;
  box-shadow: 0 0 2px 2px #de702155;
  img, svg, div {
    width: 25px;
    height: 25px;
  }
  span {
    width: 100%;
    text-align: center;
    font-size: var(--xs-text-mobile);
  }
}
.css {
  background-color: #2298F855;
  box-shadow: 0 0 2px 2px #2298F855;
}
.javascript {
  background-color: #FFDF0055;
  box-shadow: 0 0 2px 2px #FFDF0055;
}
.bootstrap {
  background-color: #5E3B7F55;
  box-shadow: 0 0 2px 2px #5E3B7F55;
}
.react {
  background-color: #00FFFF55;
  box-shadow: 0 0 2px 2px #00FFFF55;
}
.node {
  background-color: #55A44555;
  box-shadow: 0 0 2px 2px #55A44555;
}
.sass {
  background-color: #CC669955;
  box-shadow: 0 0 2px 2px #CC669955;
}
.git {
  background-color: #DE4C3555;
  box-shadow: 0 0 2px 2px #DE4C3555;
}
.github {
  background-color: #FFFFFF55;
  box-shadow: 0 0 2px 2px #FFFFFF55;
  img {
    border-radius: 50%;
  }
}
.code {
  background-color: #23A9F255;
  box-shadow: 0 0 2px 2px #23A9F255;
}
.firebase {
  background-color: #FFCC3255;
  box-shadow: 0 0 2px 2px #FFCC3255;
  div {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img {
      width: 47px;
      height: auto;
      object-fit: contain;
    }
  }
}
.terminal {
  background-color: #FFFFFF55;
  box-shadow: 0 0 2px 2px #FFFFFF55;
}
.skill .terminal_item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 35px;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
  border: none;
  background-color: var(--smooth-black);
}
.skill .terminal_item span:nth-child(1) {
  width: 100%;
  height: 8px;
  background: linear-gradient(90deg, whitesmoke, #575757 ,var(--smooth-black));
}
.skill .terminal_item span:nth-child(2) {
  padding-left: 5px;
  text-align: left;
  font-size: var(--tiny-text-mobile);
}
/* --- skills */
/* --- home */
/* projects --- */
.projects_section {
  padding-top: 50px;
}
/* --- projects */
/* about --- */
.about_section {
  padding-top: 50px;
}
.profile {
  width: 90%;
  max-width: 900px;
  img {
    float: left;
    width: 15rem;
    height: 15rem;
    margin-right: 15px;
    border-radius: 50%;
    shape-outside: circle();
  }
  p {
    text-wrap: pretty;
    margin: 10px 0;
    font-size: var(--normal-text-mobile);
    font-weight: 300;
  }
}
.certificates {
  width: 90%; 
  ul {
  width: 100%;
    li {
      width: 100%;
      min-height: 35px;
      margin: 5px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        margin-right: 5px;
      }
    }
  }
}
/* --- about */
@media screen and (min-width: 768px) {
  .hero,
  .experience,
  .favoritos,
  .stack,
  .cards_container,
  .profile,
  .certificates,
  header nav{
    max-width: 600px;
  }
}
@media screen and (min-width: 1024px) {
  .hero,
  .experience,
  .favoritos,
  .stack,
  .cards_container,
  .profile,
  .certificates,
  header nav{
    max-width: 900px;
  }
  .profile {
    max-width: 900px;
  }
  .profile p {
    margin: 15px 0;
  }
  .profile img {
    width: 220px;
    height: 220px;
  }
}