* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: #bfbfbf;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #182c52;
  color: #bfbfbf;
}

.principal__grid {
  min-width: 32rem;
  max-width: 80rem;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(auto, 4);
}

.hero {
  color: #bfbfbf;
}

.Profile__container_image {
  border-radius: 15rem;
  padding: 1rem;
  filter: opacity(0.6);
}

.hero__content {
  align-content: center;
  border-radius: 1rem;
  padding: 5% 1.2rem 5% 1.2rem;
  box-shadow: inset 0.15rem 0.15rem 0.3rem 0.15rem rgba(12, 12, 12, 0.4), inset -0.15rem -0.15rem 0.2rem 0rem rgba(230, 230, 230, 0.4);
}
.hero__content h1 {
  font-size: 1.8rem;
  line-height: 2.5rem;
}
.hero__content p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
}
.hero__content a {
  text-decoration: none;
  color: #bfbfbf;
  font-weight: 600;
}
.hero__content a :hover {
  text-decoration: underline;
}

.projects {
  width: 90%;
  margin: 0 auto;
  padding: 1rem auto;
  height: auto;
}
.projects h3 {
  font-size: 2.8rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  font-family: "Teko", sans-serif;
  padding-top: 2rem;
}

.project__cards__container {
  justify-content: center;
}

.project__card {
  min-width: 30rem;
  max-width: 35rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(12, 12, 12, 0.4), -0.16rem -0.16rem 0.25rem 0rem rgba(230, 230, 230, 0.4);
}

.project__card__image {
  display: none;
}

.project__card__content h3 {
  font-size: 2.4rem;
  padding: 0;
  line-height: 2.4rem;
}
.project__card__content p {
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 1rem 0;
}

.project__card__buttons {
  display: flex;
  justify-content: space-evenly;
}
.project__card__buttons a {
  min-width: 7.5rem;
  max-width: 10rem;
  min-height: 3.5rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: inset 0.15rem 0.15rem 0.3rem 0.15rem rgba(12, 12, 12, 0.4), inset -0.1rem -0.1rem 0.2rem 0rem rgba(230, 230, 230, 0.4);
  color: #bfbfbf;
}

.skills {
  width: 90%;
  margin: 0 auto;
  min-width: 30rem;
  text-align: left;
  height: auto;
}
.skills h3 {
  font-size: 2.8rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  font-family: "Teko", sans-serif;
  padding-top: 1rem;
  margin-top: 1rem;
}

.skills__container {
  justify-content: center;
}
.skills__container div {
  max-width: 100%;
}

.skill__item {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  padding-left: 3rem;
  display: flex;
  justify-content: left;
  font-size: 1.4rem;
}
.skill__item p {
  height: 2.5rem;
  display: flex;
  align-content: center;
}
.skill__item__row {
  width: 2.2rem;
  height: 2.2rem;
  margin: 0 0.2rem 0 0;
  filter: opacity(0.85);
}

.contact {
  width: 90%;
  margin: 0 auto;
}
.contact h3 {
  font-size: 2.8rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  font-family: "Teko", sans-serif;
}

.item__contact img {
  width: 100%;
  text-align: center;
}
.item__contact-mail img {
  width: 89%;
  padding-top: 4%;
}

footer {
  width: 100%;
  min-height: 3rem;
  padding: 1rem;
}

.creditos__cambio {
  display: none;
}

.creditos {
  width: auto;
  display: flex;
  align-content: center;
  justify-content: flex-end;
}