@import "./sass/variables";
@import "./sass/componentes/mixins";
@import "./sass/componentes/effects";
@import "./sass/layout";
@import "./sass/header";
@import "./sass/hero";
@import "./sass/_projects";
@import "./sass/skills";
@import "./sass/contact";
@import "./sass/footer";