* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: #bfbfbf;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #182c52;
}

.principal__grid {
  min-width: 32rem;
  max-width: 80rem;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(auto, 4);
}

header {
  min-width: 100%;
  height: 6rem;
  padding: 1.2rem 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  background-color: #182c52;
}

.logo-container {
  display: flex;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 5rem;
  align-items: center;
  justify-content: center;
  box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(12, 12, 12, 0.4), -0.16rem -0.16rem 0.25rem 0rem rgba(230, 230, 230, 0.4);
}
.logo-container:hover {
  box-shadow: inset 0.15rem 0.15rem 0.3rem 0.15rem rgba(12, 12, 12, 0.4), inset -0.1rem -0.1rem 0.2rem 0rem rgba(230, 230, 230, 0.4);
}
.logo-container a {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  color: #b0d1fc;
  font-size: 2.2rem;
}

.nav-bar ul {
  min-width: 18rem;
  margin-right: -2rem;
  display: flex;
  justify-content: space-between;
}
.nav-bar ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.nav-bar ul li :hover {
  box-shadow: inset 0.15rem 0.15rem 0.3rem 0.15rem rgba(12, 12, 12, 0.4), inset -0.1rem -0.1rem 0.2rem 0rem rgba(230, 230, 230, 0.4);
}
.nav-bar ul li a {
  min-width: 7.5rem;
  max-width: 10rem;
  min-height: 3.5rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(12, 12, 12, 0.4), -0.16rem -0.16rem 0.25rem 0rem rgba(230, 230, 230, 0.4);
}

.button__contact {
  font-weight: 500;
}

.hero {
  min-width: 32rem;
  max-width: 70rem;
  margin: 0 auto;
  width: 100%;
  color: #bfbfbf;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.Profile__container_image {
  min-width: 15rem;
  min-height: 15rem;
  max-width: 18rem;
  margin: 1.2rem auto 0 auto;
  border-radius: 15rem;
  filter: opacity(0.6);
}

.hero__content {
  width: 90%;
  margin-top: 1rem;
  border-radius: 1rem;
  text-align: left;
  padding: 1rem 1.2rem;
  box-shadow: inset 0.15rem 0.15rem 0.3rem 0.15rem rgba(12, 12, 12, 0.4), inset -0.15rem -0.15rem 0.2rem 0rem rgba(230, 230, 230, 0.4);
}
.hero__content h1 {
  font-size: 1.8rem;
  line-height: 2.5rem;
}
.hero__content p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
}
.hero__content a {
  text-decoration: none;
  color: #bfbfbf;
  font-weight: 600;
}
.hero__content a :hover {
  text-decoration: underline;
}

.projects {
  width: 90%;
  margin: 0 auto;
  padding: 1rem auto;
  height: auto;
}
.projects h3 {
  font-size: 2.8rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  font-family: "Teko", sans-serif;
  padding-top: 2rem;
}

.project__cards__container {
  min-width: 30rem;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1.5rem;
  justify-content: space-evenly;
  padding: 1rem 0;
}

.project__card {
  min-width: 30rem;
  max-width: 35rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(12, 12, 12, 0.4), -0.16rem -0.16rem 0.25rem 0rem rgba(230, 230, 230, 0.4);
}

.project__card__image {
  display: none;
}

.project__card__content h3 {
  font-size: 2.4rem;
  padding: 0;
  line-height: 2.4rem;
}
.project__card__content p {
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 1rem 0;
}

.project__card__buttons {
  display: flex;
  justify-content: space-evenly;
}
.project__card__buttons a {
  min-width: 7.5rem;
  max-width: 10rem;
  min-height: 3.5rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: inset 0.15rem 0.15rem 0.3rem 0.15rem rgba(12, 12, 12, 0.4), inset -0.1rem -0.1rem 0.2rem 0rem rgba(230, 230, 230, 0.4);
}

.skills {
  width: 90%;
  margin: 0 auto;
  min-width: 30rem;
  text-align: left;
  height: auto;
}
.skills h3 {
  font-size: 2.8rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  font-family: "Teko", sans-serif;
  padding-top: 1rem;
  margin-top: 1rem;
}

.skills__container {
  min-width: 15rem;
  max-width: 32rem;
  min-height: 5rem;
  margin: 1rem auto;
  display: grid;
  grid-template: auto/repeat(2, 1fr);
}
.skills__container div {
  max-width: 100%;
}

.skill__item {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  padding-left: 3rem;
  display: flex;
  justify-content: left;
  font-size: 1.4rem;
}

.contacto {
  padding: 6%;
  background-color: #e2e2e2;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.item-contact-mail {
  padding: 2%;
}

.item-contact-mail img {
  width: 90px;
  padding: 5px;
  padding-left: 0px;
  text-align: center;
}

.item-contact-tw img {
  max-width: 100px;
  padding-left: 5px;
}

.item-contact-ig img {
  max-width: 100px;
}

footer {
  width: 100%;
  min-height: 3rem;
  padding: 1rem;
}

.creditos__cambio {
  display: none;
}

.creditos {
  width: auto;
  display: flex;
  align-content: center;
  justify-content: flex-end;
}