* {
  margin: 0%;
  padding: 0%;
  /* font-size: 16px; */
  font-family: 'Heebo', sans-serif;
  color: whitesmoke;
}
header{
  background-color: #0f0f62;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  /* align-content: center; */
  /* justify-content: center; */
}
.nav-bar, ul{
  display: flex;
}
.nav-bar, li{
  margin: 0 10px;
  list-style: none;
  text-decoration: none;
}
