<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="./assets/images/yav_logo.png" type="image/png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../index.css">
  <title>Proyectos</title>
  <style>
    .projects_section {
      padding-top: 50px;
    }
  </style>
</head>
<body>
  <header id="header" class="sticky">
    <nav>
      <ul>
        <a class="header_logo" href="#home">
          <img class="header_logo__img" src="../../assets/images/2791834398_Minimalist web design based on black and white tat_xl-beta-v2-2-2.png" alt="Logo">
        </a>
        <a class="header_link header_link__home header_link__active" href="#home">Home</a>
      </ul>
      <ul>
        <a class="header_link header_link__projects" href="#Proyectos">Proyectos</a>
        <a class="header_link header_link__about" href="#SObreMi">Sobre mí</a>
      </ul>
    </nav>
  </header>
  <section class="projects_section section_active">
    <div class="cards_container">
      <div class="card">
        <div class="project_img">
          <img src="./assets/images/trc_mobile.png" alt="">
        </div>
        <div class="card_content">
          <h3 class="subtitle">TRC  MADRID</h3>
          <p>Landing page para presentar de una manera sencilla los servicios ofrecidos por la empresa y dar un medio de contacto para los posibles clientes.</p>
          <span class="tag">HTML 5</span>
          <span class="tag">CSS 3</span>
          <span class="tag">JavaScript</span>
          <div class="card_content__links">
            <ul>
              <a href="https://trc-madrid.github.io/trcmadrid/" target="_blank">
                <img src="./assets/images/world-wide-web.png" alt="Ver el sitio">
              </a>
              <a href="https://github.com/TRC-MADRID/trcmadrid" target="_blank">
                <img src="./assets/images/github-purple2.png" alt="Visitar el repositorio">
              </a>
            </ul>
            <ul>
              <p>Dic/ 2023 - Mayo 2024</p>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="project_img">
          <img src="./assets/images/Todo_List.png" alt="">
        </div>
        <div class="card_content">
          <h3 class="subtitle">TODO APP</h3>
          <p>Creación de tareas personalizadas, almacenamiento local (sin backend ni sincronizacioón de datos).</p>
          <span class="tag">React Js</span>
          <span class="tag">CSS 3</span>
          <span class="tag">JavaScript</span>
          <div class="card_content__links">
            <ul>
              <a href="https://yavgz.github.io/ToDo_List/" target="_blank">
                <img src="./assets/images/world-wide-web.png" alt="Ver el sitio">
              </a>
              <a href="https://github.com/YavGz/ToDo_List">
                <img src="./assets/images/github-purple2.png" alt="Visitar el repositorio">
              </a>
            </ul>
            <ul>
              <p>Dic 2023</p>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="project_img">
          <img src="./assets/images/Rick_and_morty.png" alt="">
        </div>
        <div class="card_content">
          <h3 class="subtitle">RICK AND MORTY</h3>
          <p>
            Consulta información relevante de los personajes de la serie.
          </p>
          <p>
            Información traida desde API REST a traves de un Fetching de datos.
          </p>
          <span class="tag">JavaScript</span>
          <span class="tag">CSS 3</span>
          <span class="tag">HTML 5</span>
          <div class="card_content__links">
            <ul>
              <a href="https://yavgz.github.io/rick_and_morty_info/" target="_blank">
                <img src="./assets/images/world-wide-web.png" alt="Ver el sitio">
              </a>
              <a href="https://github.com/YavGz/rick_and_morty_info" target="_blank">
                <img src="./assets/images/github-purple2.png" alt="Visitar el repositorio">
              </a>
            </ul>
            <ul>
              <p>Feb 2023</p>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="project_img">
          <img src="../../assets/images/yard_sale.png" alt="">
        </div>
        <div class="card_content">
          <h3 class="subtitle">YARD SALE</h3>
          <p>E-commerce. Pagina demo con el contenido hardcodeado</p>
          <p>Manipulación del DOM con JavaScript</p>
          <span class="tag">JavaScript</span>
          <span class="tag">HTML 5</span>
          <span class="tag">CSS 3</span>
          <div class="card_content__links">
            <ul>
              <a href="https://yavgz.github.io/forkJsYFrontedPractico/" target="_blank">
                <img src="./assets/images/world-wide-web.png" alt="Ver el sitio">
              </a>
              <a href="https://github.com/YavGz/forkJsYFrontedPractico" target="_blank">
                <img src="./assets/images/github-purple2.png" alt="Visitar el repositorio">
              </a>
            </ul>
            <ul>
              <p>May 2023</p>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="project_img">
          <img src="../../assets/images/batatabit.png" alt="">
        </div>
        <div class="card_content">
          <h3 class="subtitle">BATATA BIT</h3>
          <p>Landing page de empresa fintec de cripto activos (Demo)</p>
          <span class="tag">HTML 5</span>
          <span class="tag">CSS 3</span>
          <div class="card_content__links">
            <ul>
              <a href="https://yavgz.github.io/Mobile-First/" target="_blank">
                <img src="./assets/images/world-wide-web.png" alt="Ver el sitio">
              </a>
              <a href="https://github.com/YavGz/Mobile-First" target="_blank">
                <img src="./assets/images/github-purple2.png" alt="Visitar el repositorio">
              </a>
            </ul>
            <ul>
              <p>DIC 2022</p>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="../../index.js"></script>
</body>
</html>