<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="./assets/images/yav_logo.png" type="image/png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../index.css">
  <title>Proyectos</title>
</head>
<body>
  <section class="projects_section">
    <div class="cards_container">
      <div class="card">
        <div class="project_img">
          <img src="../../assets/images/Captura_trc.png" alt="">
        </div>
        <div class="card_content">
          <h3 class="subtitle">Titulo del proyecto</h3>
          <p>Lorem ipsum dolor sit amet, consectetur , vitae dolore qui exercitationem sit eos reiciendis totam labore rerum ipsum.</p>
          <span class="tag">HTML 5</span>
          <span class="tag">CSS 3</span>
          <span class="tag">JavaScript</span>
          <div class="card_content__links">
            <ul>
              <a href="/#here">
                <img src="../../assets/images/world-wide-web.png" alt="Ver el Repositorio">
              </a>
              <a href="/#here">
                <img src="../../assets/images/github-purple2.png" alt="Visitar el sitio">
              </a>
            </ul>
            <ul>
              <p>Fecha</p>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="../../index.js"></script>
</body>
</html>