<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="./assets/images/yav_logo.png" type="image/png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <title>Header</title>
  <link rel="stylesheet" href="../../index.css">
  <style>
    .profile {
      width: 90%;
      max-width: 900px;
      img {
        float: left;
        width: 15rem;
        height: 15rem;
        margin-right: 15px;
        border-radius: 50%;
        shape-outside: circle();
      }
      p {
        text-wrap: pretty;
        margin: 10px 0;
        font-size: var(--normal-text-mobile);
        font-weight: 300;
      }
    }
  </style>
</head>
<body>
  <header id="header" class="sticky">
    <nav>
      <ul>
        <a class="header_logo" href="#home">
          <img class="header_logo__img" src="../../assets/images/2791834398_Minimalist web design based on black and white tat_xl-beta-v2-2-2.png" alt="Logo">
        </a>
        <a class="header_link header_link__home header_link__active" href="#home">Home</a>
      </ul>
      <ul>
        <a class="header_link header_link__projects" href="#Proyectos">Proyectos</a>
        <a class="header_link header_link__about" href="#SObreMi">Sobre mí</a>
      </ul>
    </nav>
  </header>
  <section class="home_section">
    Home
  </section>
  <section class="projects_section">
    Proyectos
  </section>
  <section class="about_section section_active">
    <section class="profile">
      <img src="../../assets/images/avatar.jpg" alt="avatar">
      <p>Comence en el mundo del software en marzo 2020, el inicio fue complicado ya que no sabia por donde empezar y no me habia enfrentado a algo asi de manera autodidacta.🖥️.</p>
      <p>Finalmente en 2022 decidí enfocarme en el lado del Frontend, logre optimizar mi tiempo con el trabajo y mejorar mí metodo de estudio, reduciendo el tiempo que me toma aprender nuevos temas. 📕</p>
      <p>Disfruto aprender de temas varios, no solo en Software o tecnologia. Me gusta el gymnasio, el café ☕y estoy aprendiendo a tocar el piano 🎹. Dejo algunas certificaciones de la plataforma donde estudio. Muchas grcias por el tiempo 😁</p>
    </section>
  </section>
  <script src="../../index.js"></script>
</body>
</html>