@mixin boton {
  min-width: 7.5rem;
  min-height: 3.5rem;
  border-radius: 0.5rem;
}

@mixin neo-out-min {
  box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem $black-shadow ,
  -0.16rem -0.16rem 0.25rem 0rem $white-shadow;
}

@mixin neo-in-min {
  box-shadow: inset 0.15rem 0.15rem 0.3rem 0.15rem $black-shadow,
  inset -0.1rem -0.1rem 0.2rem 0rem $white-shadow;
}

@mixin neo-out {
  box-shadow: 0.35rem 0.35rem 0.3rem 0.2rem $black-shadow ,
  -0.3rem -0.1rem 0.3rem 0.2rem $white-shadow;
}