//------ botons

@mixin boton {
  min-width: 7.5rem;
  max-width: 10rem;
  min-height: 3.5rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  font-size: map-get($map: $fs, $key: small);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

@mixin titles {
  font-size: map-get($map: $fs, $key:big );
  letter-spacing: 0.1rem;
  font-weight: 400;
  font-family: 'Teko', sans-serif;
}
